body{
    background-color: black;
    color: white;
}

#movies-wrapper{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.movie-card{
    width: calc( 25% - 32px);
    margin: 15px;
    border: 1px solid green;
    text-align: center;
}

.thumbnail{
    width: 100%;
    height: 350px;
}

#inp{
    margin: 20px 0px 5px;
    border-radius: 15px;
    width: 250px;
}